h2 {
	text-shadow:rgb(204, 204, 204) 0px 1px 2px;
	font-size:15pt;
	color:#679225;
}

h1 {
	color:#5A719A;
	text-shadow:rgb(204, 204, 204) 0px 1px 2px;
	font-size:15pt;
}

input {
	font-size:15px;
	height:30px;
	margin-top:5px;
	padding-left:5px;
	border:1px solid #CCCCCC;
}

input:hover {
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	border:1px solid #666666;
}

input:focus {
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	-webkit-box-shadow:rgb(204, 204, 204) 0px 0px 5px;
	box-shadow:rgb(204, 204, 204) 0px 0px 5px;
	-o-box-shadow:rgb(204, 204, 204) 0px 0px 5px;
	-ms-box-shadow:rgb(204, 204, 204) 0px 0px 5px;
	-moz-box-shadow:rgb(204, 204, 204) 0px 0px 5px;
	border:1px solid #0080FE;
}

input.submit {
	border-top-color:#000000;
	border-right-color:#000000;
	border-bottom-color:#000000;
	border-left-color:#000000;
	height:38px;
	background-color:#597099;
	color:#FFFFFF;
	-webkit-border-bottom-left-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	-o-border-bottom-left-radius:10px 10px;
	-ms-border-bottom-left-radius:10px 10px;
	-moz-border-radius-bottomleft:10px 10px;
	-webkit-border-bottom-right-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	-o-border-bottom-right-radius:10px 10px;
	-ms-border-bottom-right-radius:10px 10px;
	-moz-border-radius-bottomright:10px 10px;
	-webkit-border-top-left-radius:10px 10px;
	border-top-left-radius:10px 10px;
	-o-border-top-left-radius:10px 10px;
	-ms-border-top-left-radius:10px 10px;
	-moz-border-radius-topleft:10px 10px;
	-webkit-border-top-right-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-o-border-top-right-radius:10px 10px;
	-ms-border-top-right-radius:10px 10px;
	-moz-border-radius-topright:10px 10px;
	-webkit-box-shadow:rgb(76, 76, 76) 5px 5px 5px;
	box-shadow:rgb(76, 76, 76) 5px 5px 5px;
	-o-box-shadow:rgb(76, 76, 76) 5px 5px 5px;
	-ms-box-shadow:rgb(76, 76, 76) 5px 5px 5px;
	-moz-box-shadow:rgb(76, 76, 76) 5px 5px 5px;
}

form {
	background-color:#F2F2F2;
	-webkit-border-top-left-radius:10px 10px;
	border-top-left-radius:10px 10px;
	-o-border-top-left-radius:10px 10px;
	-ms-border-top-left-radius:10px 10px;
	-moz-border-radius-topleft:10px 10px;
	-webkit-border-top-right-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-o-border-top-right-radius:10px 10px;
	-ms-border-top-right-radius:10px 10px;
	-moz-border-radius-topright:10px 10px;
	-webkit-border-bottom-right-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	-o-border-bottom-right-radius:10px 10px;
	-ms-border-bottom-right-radius:10px 10px;
	-moz-border-radius-bottomright:10px 10px;
	-webkit-border-bottom-left-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	-o-border-bottom-left-radius:10px 10px;
	-ms-border-bottom-left-radius:10px 10px;
	-moz-border-radius-bottomleft:10px 10px;
	-webkit-box-shadow:rgb(179, 179, 179) 0px 0px 5px;
	box-shadow:rgb(179, 179, 179) 0px 0px 5px;
	-o-box-shadow:rgb(179, 179, 179) 0px 0px 5px;
	-ms-box-shadow:rgb(179, 179, 179) 0px 0px 5px;
	-moz-box-shadow:rgb(179, 179, 179) 0px 0px 5px;
	border:1px solid #CCCCCC;
	padding:20px;
}

#tabla2 td {
}

#tabla2 tr:hover {
	background-color:#CCCCCC;
	text-shadow:rgb(153, 153, 153) 0px 2px 2px;
}

#tabla2 tr:nth-child(2n+1) {
	background-image:url(imagenes/tabla_tr.png);
}

#tabla2 tr {
	-webkit-border-top-left-radius:10px 10px;
	border-top-left-radius:10px 10px;
	-o-border-top-left-radius:10px 10px;
	-ms-border-top-left-radius:10px 10px;
	-moz-border-radius-topleft:10px 10px;
	-webkit-border-top-right-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-o-border-top-right-radius:10px 10px;
	-ms-border-top-right-radius:10px 10px;
	-moz-border-radius-topright:10px 10px;
	border-collapse:separate;
	height:40px;
	border-bottom:1px solid #E6E6E6;
}

#tabla2 th {
	height:30px;
	font-weight:normal;
	border-collapse:collapse;
	background-image:url(imagenes/tabla2_th.png);
	box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-webkit-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-o-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-ms-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-moz-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-webkit-border-top-left-radius:10px 10px;
	border-top-left-radius:10px 10px;
	-o-border-top-left-radius:10px 10px;
	-ms-border-top-left-radius:10px 10px;
	-moz-border-radius-topleft:10px 10px;
	-webkit-border-top-right-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-o-border-top-right-radius:10px 10px;
	-ms-border-top-right-radius:10px 10px;
	-moz-border-radius-topright:10px 10px;
	font-size:11pt;
	color:#FFFFFF;
}

#tabla2 {
	border-collapse:collapse;
	position:relative;
	float:none;
	width:100%;
}

#tabla td {
}

#tabla tr:hover {
	background-color:#CCCCCC;
	text-shadow:rgb(153, 153, 153) 0px 2px 2px;
}

#tabla tr:nth-child(2n+1) {
	background-image:url(imagenes/tabla_tr.png);
}

#tabla tr {
	-webkit-border-top-left-radius:10px 10px;
	border-top-left-radius:10px 10px;
	-o-border-top-left-radius:10px 10px;
	-ms-border-top-left-radius:10px 10px;
	-moz-border-radius-topleft:10px 10px;
	-webkit-border-top-right-radius:10px 10px;
	border-top-right-radius:10px 10px;
	-o-border-top-right-radius:10px 10px;
	-ms-border-top-right-radius:10px 10px;
	-moz-border-radius-topright:10px 10px;
	height:30px;
	border-collapse:separate;
	border-bottom:1px solid #E6E6E6;
}

#tabla th {
	color:#FFFFFF;
	background-image:url(imagenes/tabla_th.png);
	height:30px;
	font-weight:normal;
	font-size:11pt;
	border-collapse:collapse;
	box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-webkit-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-o-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-ms-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
	-moz-box-shadow:rgb(179, 179, 179) 0px 2px 2px;
}

#tabla {
	background-color:#FFFFFF;
	border-collapse:collapse;
	position:relative;
	float:none;
	width:100%;
}

#tuxstone {
	position:absolute;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-image:url(imagenes/tuxstone.png);
	width:100px;
	height:30px;
	right:0;
}

#area3 {
	top:90px;
	line-height:1.5em;
	width:100%;
	left:0;
	position:relative;
}

#area2 {
	position:inherit;
	left:180px;
	padding-top:5px;
	top:6px;
}

#etb {
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-image:url(imagenes/etb.png);
	height:38px;
	width:52px;
	position:inherit;
	right:10px;
}

#sba {
	background-image:url(imagenes/sba.png);
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	width:150px;
	height:35px;
	left:10px;
	top:5px;
	position:inherit;
}

#area1 {
	width:100%;
	height:40px;
	background-color:#F5F5F5;
	position:absolute;
	top:40px;
	left:0;
	border:1px solid #EBEBEB;
}

#area0 {
	background-color:#333333;
	color:#FFFFFF;
	position:fixed;
	width:100%;
	height:30px;
	left:0;
	top:0;
}

a:hover {
	text-decoration:underline;
}

a {
	text-decoration:none;
	color:#0080FF;
}

body {
	font-family:Arial;
	font-size:10pt;
	line-height:1.5em;
	color:#333333;
}

.nickname {
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
font-size: 100%;
vertical-align: baseline;
background-color: transparent;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
outline-width: medium;
outline-style: none;
outline-color: -moz-use-text-color;
color: #0077aa;
text-decoration: none;
}
